.footer{
    background-color: pink;
    display: flex;
    padding-top: 10px;
    width: 100%;
    justify-content:center;
    /* position: fixed; */
    left: 0;
    bottom: 0;

}
@media screen and (max-width: 1000px) {
    .footer{
        display: block;
        margin: auto;
    } 
    .links{
        margin-left: 40px;
        margin-bottom: 40px;
    }
}
.links *{
    display: block;
    margin-right: 100px;
}
.contact{
    display: flex;
    justify-content: space-between;
}
.offlineContact{
    margin-right: 100px;
}
.links{
    font-size: 20px;
}
